body {
  background-color: #141414;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  color: #f7f7f7;
}

h2 {
  color: #999999;
  font-size: 30px;
}

a {
  color: #f7f7f7;
}
a:hover {
  color: blanchedalmond;
}

.name {
  padding-bottom: 0px;
  padding-top: 40px;
}
