h1 {
  color: #ffe8d6;
  font-size: 60px;
  text-shadow: 2px 2px #b7b7a4;
}

p {
  color: #ffe8d6;
  padding-bottom: 30 px;
}

h2 {
  color: #ddbea9;
  font-size: 30px;
  padding: 60 px;
}

h3 {
  color: #b7b7a4;
  font-size: 20px;
}

a {
  color: #a5a58d;
}

a:hover {
  color: #ffe8d6;
}
body {
  background-color: #6b705c;
  font-family: sans-serif;
  text-align: center;
}
