body {
  background-color: #6b705c;
  font-family: sans-serif;
}

h2 {
  color: #ddbea9;
  font-size: 30px;
  text-align: center;
}

p {
  color: #b7b7a4;
}

li {
  color: #b7b7a4;
}

footer {
  text-align: center;
  margin-top: 20px;
}
